/*.................
0.0 GLOBAL VARIABLES
.................*/

$mobile-width-start: 1024px;

$main-color: #6d6e33;
$green-color: #19371c;
$red-color: rgb(195, 1, 1);
$dark-color: rgb(29, 28, 28);
$white-color: white;
$beige-color: #f6dfc9;
$black-color: black;

$section-margin: 10vw;
$mobile-section-margin: 2vw;
$headers-font-family: "Aka Posse";
$second-headers-font-family: "Pirata One";
$section-top-shadow: -1px 7px 5px $black-color;
$section-bottom-shadow: -1px -7px 5px $black-color;

$arrows-and-dots-hover-color: rgb(44, 44, 44);
$arrows-and-dots-color: rgb(153, 153, 153);
$arrows-and-dots-background-color: rgba(201, 201, 201, 0.349);

$lightBoxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;