@import "../shared/mixins.scss";

/*..................
7.1 MAIN ABOUT US SETTINGS
...................*/

#scroll-to-element {
	margin-bottom: 4rem;
}

#section-menu-buttons {
	@include flexJustifyDirection(flex-start, column);
	position: fixed;
	top: 20vh;
	left: 0;
	z-index: 0;
	width: $section-margin;
	height: fit-content;

	#about-us-button {
		@include backgroundImg("../../assets/images/about_us.png");
		margin-bottom: 4rem;
	}

	#instructors-button {
		@include backgroundImg("../../assets/images/instructors.png");
		margin-bottom: 4rem;
	}

	#horses-button {
		@include backgroundImg("../../assets/images/horses.png");
		margin-bottom: 4rem;
	}

	#animals-button {
		@include backgroundImg("../../assets/images/animals.png");
		margin-bottom: 4rem;
	}

	.link-to-section {
		@include flexAlign(flex-start, center);
		font-size: 0.8vw;
		width: calc($section-margin - 1vw);
		height: 4vh;
		margin: 0em 5vw 5vw 0;
		margin-left: -6vw;
		padding-left: 0.5vw;
		color: $white-color;
		text-decoration: none;
		transition: all 0.4s ease-in-out;

		&:hover {
			width: calc($section-margin - 1.5vw);
			margin-left: 0;
		}
	}
}

/*..................
7.2 ABOUT US DESCRIPTION SECTION SETTINGS
...................*/
#about-us-section-content {
	@include flexDirection(column);
	margin-top: 4em;
	margin-bottom: 2em;
	margin-left: $section-margin;
	margin-right: $section-margin;
	padding: 1rem;
	background-color: $main-color;

	#about-us-section-description {
		font-size: 1.6rem;
		text-justify: inter-word;

		p {
			margin-top: 2rem;
		}
	}

	#about-us-section-image {
		float: left;
		height: 25rem;
		width: auto;
		margin: 2rem 2rem 1rem 0;
		box-shadow: 5px 5px 25px $black-color;
		overflow: hidden;
	}
}

/*..................
7.3 OUR INSTRUCTORS SECTION SETTINGS
...................*/

#our-instructors-section-content {
	@include flexDirection(column);
	gap: 3em;
	margin-top: 4em;
	margin-bottom: 2em;
	margin-left: $section-margin;
	margin-right: $section-margin;

	.our-instructors-single-instructor {
		@include flexDirection(row-reverse);
		gap: 1rem;
		background-color: $main-color;
		padding: 1rem;

		.our-instructors-instructor-image-part {
			@include flexAlign(center, center);

			.our-instructors-instructor-image {
				width: 25em;
				height: 35em;
				box-shadow: 5px 5px 25px $black-color;
			}
		}

		.our-instructors-instructor-description-part {
			@include flexDirection(column);

			.our-instructors-instructor-data {
				font-size: 3em;
			}

			.our-instructors-instructor-description {
				font-size: 1.5em;
			}
		}
	}
}

/*..................
7.4 OUR HORSES SECTION SETTINGS
...................*/

#our-horses-section-content {
	@include flexDirection(column);
	margin-top: 4em;
	margin-bottom: 2em;
	gap: 3rem;
	margin-left: $section-margin;
	margin-right: $section-margin;

	.single-horse {
		@include flexDirection(row);
		background-color: $main-color;
		padding: 1rem;
		gap: 1rem;

		.horse-image-part {
			@include flexAlign(center, center);

			.horse-image {
				width: 20em;
				height: 30em;
				box-shadow: 5px 5px 25px $black-color;
			}
		}

		.horse-description-part {
			@include flexDirection(column);

			.horse-data {
				font-size: 3em;
			}

			.horse-description {
				font-size: 1.5em;
			}
		}
	}
}

/*..................
7.5 OTHER ANIMALS SECTION SETTINGS
...................*/

#other-animals-section-content {
	@include flexDirection(column);
	margin-top: 4em;
	margin-bottom: 2em;
	gap: 3rem;
	margin-left: $section-margin;
	margin-right: $section-margin;

	.single-animal {
		@include flexDirection(row-reverse);
		background-color: $main-color;
		padding: 1rem;
		gap: 1rem;

		.animal-image-part {
			@include flexAlign(center, center);

			.animal-image {
				width: 20em;
				height: 30em;
				box-shadow: 5px 5px 25px $black-color;
			}
		}

		.animal-description-part {
			@include flexDirection(column);

			.animal-data {
				font-size: 3em;
			}

			.animal-description {
				font-size: 1.5em;
			}
		}
	}
}

