/*..................
7.1 MAIN ABOUT US SETTINGS
...................*/

#scroll-to-element {
    margin-bottom: 4rem;
}

#section-menu-buttons {
    position: fixed;
    top: 20vh;
    left: 0;
    z-index: 0;
    width: var(--section-margin);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.link-to-section {
    width: calc(var(--section-margin) - 2.5em);
    height: 2.5em;
    margin: 0em 5em 5em 0;
    display: flex;
    flex-direction: row;
}

.link-to-section > a {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 0.5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    background-color: #6d6e33;
}

.rounded-corners {
    width: 2.5em;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #6d6e33;
}

.link-to-section > a:hover {
    background-color: #5e5f2d;
}

/*..................
7.2 ABOUT US DESCRIPTION SECTION SETTINGS
...................*/
#about-us-section-content {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
}

#about-us-section-video {
    display: flex;
    align-content: center;
    align-items: center;
    width: 440px;
    height: 440px;
    min-height: 20em;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
    transform: scale();
    -webkit-transform: translateZ(0);
    margin-right: 5em;
    box-shadow: -10px 25px 25px black;
}

#about-us-section-video-main {
    width: 440px;
    height: 440px;
}

#about-us-section-description {
    font-size: 1.2em;
    text-justify: inter-word;
}

@media screen and (max-width: 1300px) {
    #about-us-section-video {
        display: none;
    }
}

/*..................
7.3 OUR INSTRUCTORS SECTION SETTINGS
...................*/

#our-instructors-section-content {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
}

.single-instructor {
    display: flex;
    flex-direction: row;
}

/*..................
7.4 OUR HORSES SECTION SETTINGS
...................*/

#our-horses-section-content {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
}

.single-horse {
    display: flex;
    flex-direction: row;
}

.horse-image {
    width: 10vw;
}

/*..................
7.5 OTHER ANIMALS SECTION SETTINGS
...................*/

#other-animals-section-content {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
}

.animal-image {
    width: 10vw;
}