body {
  font-family: 'Arima Madurai', sans-serif;
  padding: 0;
  margin: 0;
  background-color: gainsboro;
}

#header_and_navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#top-bar {
  background-image: url("../assets/images/board.png");
  height: 3em;
  width: 100%;
  z-index: 1;
  box-shadow: -1px 5px 5px black;
}

.main-video-wrapper > video {
  margin-top: -8em;
  width: 100%;
  height: 70%;
  object-fit: cover;
  z-index: 0;
}

/* Style the navbar */
#navbar {
  margin-top: -3em;
  z-index: 2;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/images/board.png");
  box-shadow: -1px -3px 5px black;
}

#left-side-menu {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#center-menu {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#right-side-menu {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Navbar links */
.navigation-link {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
}

.navigation-link:hover {
  color: #996633;
}


#logo {
  margin-bottom: 4em;
  width: 7em;
  height: auto;
  /*background-image: url("../assets/images/board.png");*/
  border-radius: 100% 100% 60% 60%;
  z-index: 3;
  box-shadow: -3px 0px 8px black;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 2;
  margin-top: 3em;
  height: 5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../assets/images/board.png");
  box-shadow: -1px 3px 5px black;
}