/*..................
4.1 MAIN NEWS SETTINGS
...................*/

#news-page-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
    font-size: 1.5rem;
}

.single-news {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: #6d6e33;
}

.single-news-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.single-news-left-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.single-news-right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-news-image {
    width: 30rem;
    height: 30rem;
}

.news-navigation-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-family: var(--headers-font-family);
    padding: 0.5rem;
    text-decoration: none;
    background-image: url(../assets//images/board.png);
    background-size: cover;
    box-shadow: 5px 5px 10px black;
}

.news-navigation-link:hover {
    color: #996633;
}

/*..................
4.2 SINGLE NEWS SETTINGS
...................*/

#single-news-page-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
    font-size: 1.5rem;
}

.single-news-regular-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.single-news-page-left-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.single-news-page-right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-news-page-image {
    width: 30rem;
    height: 30rem;
}

.single-news-additional-content {
    margin-top: 2rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-news-page-addon-image {
    width: 80%;
}