/*..................
4.1 MAIN NEWS SETTINGS
...................*/

#news-page-content {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
}

.single-news {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.single-news-right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}