// /*......................
// 6.1 MAIN PRICES SETTINGS
// .......................*/

#prices-content {
	background-image: url("../assets/images/paper.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: rgb(33, 32, 32);

	h2 {
		display: flex;
		justify-content: center;
		padding-top: 4vh;
		padding-bottom: 4vh;
	}

	#prices-header {
		display: flex;
		justify-content: center;
		padding-top: 4vh;
		padding-bottom: 4vh;
	}

	#additional-info {
		padding: 4vh;
		margin: 4vh;
		font-size: 1.3vh;

		p {
			color: rgb(194, 2, 2);
			font-weight: 600;
			font-size: 2vh;
		}
	}
}

table {
	border-collapse: collapse;
	margin: auto;
	padding: 0;
	width: 80%;
	table-layout: fixed;
	display: grid;

	thead,
	tbody,
	tr-head,
	.tr-body-1,
	.tr-body-2 {
		width: 100%;
	}

	.tr-head {
		display: flex;
		justify-content: space-around;
		border-bottom: 1px solid rgb(29, 28, 28);
	}

	tbody,
	.tr-body-1,
	.tr-body-2 {
		display: grid;
	}

	tbody {
		grid-template-rows: repeat(6, 1fr);
		gap: 1em;
	}

	.tr-body-1 {
		grid-template-columns: repeat(3, 1fr);
	}

	.tr-body-2 {
		grid-template-columns: repeat(4, 1fr);
	}
}

table th,
table td {
	padding: 0.625em;
	text-align: center;
}

table th {
	font-size: 0.85em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	table {
		border: 0;
		font-size: 1.3vh;

		.tr-body-1, .tr-body-2 {
			border-bottom: 1px solid rgb(34, 33, 33);
		}
	}

	#prices-content {
		#additional-info {
			padding-bottom: 8vh;
		}
	}
}

