/*......................
6.1 MAIN PRICES SETTINGS
.......................*/

#prices-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4rem;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
    gap: 2rem;
    padding: 1vw;
    background-image: url("../assets/images/paper.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#additional-info > p {
    color: red;
    font-weight: bolder;
}

#additional-info {
    padding: 2vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#prices-header {
    color: black;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.vertical-table-header {
    transform-origin:50% 50%;
    transform: rotate(90deg);
    width: 15vw;
    height: 2em;
    text-align: center;
    font-weight: bolder;
    border-style: none;
}

#single-rides-table, #membership-table {
    color: black;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    font-size: 1.5em;
}

td, th {
    width: fit-content;
    height: fit-content;
    padding: 1em;
    text-align: start;
    border-collapse: collapse;
}

td {
    border-top-style: solid;
}