/*......................
6.1 MAIN PRICES SETTINGS
.......................*/

#prices-content {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: var(--section-margin);
    margin-right: var(--section-margin);
}

.vertical-table-header {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    transform: rotate(90deg);
}

td {
    width: fit-content;
    padding: 0.5em;
}