/*......................
8.1 MAIN REGULATIONS SETTINGS
.......................*/

#regulations-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4rem;
    margin-right: 4rem;
    color: black;
    font-weight: bold;
}

#background-image-container {
    margin-top: 2rem;
    margin-left: calc(var(--section-margin) - 4rem);
    margin-right: calc(var(--section-margin) - 4rem);
    background-image: url("../assets/images/paper.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#regulation-header-part {
    display: flex;
    justify-content: center;
}

#regulations-header {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
}

.single-regulation {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.regulation-star {
    width: 2rem;
    margin-left: 49%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.single-forbidden-info {
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    color: red;
}

#regulations-actualization-info {
    font-size: 0.9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}