@import "../shared/mixins.scss";

/*.........................
5.1 MAIN GALLERY SETTINGS
..........................*/

#gallery-content {
	@include flexDirection(column);
	margin-top: 7rem;
	margin-bottom: 4rem;
	margin-left: $section-margin;
	margin-right: $section-margin;

	.album {
		@include flexJustifyDirection(center, column);
		margin-top: 1rem;
		margin-bottom: 1rem;

		.album-title {
			@include flexJustify(center);
			font-size: 3rem;
		}

		.gallery-slider {
			@include flexAlign(center, center);
			padding: 2rem;
			background-color: $main-color;
		}
	}
}

