/*.................
0.0 GLOBAL VARIABLES
.................*/

:root {
    --section-margin: 10vw;
    --mobile-section-margin: 2vw;
    --headers-font-family: 'Aka Posse';
    --second-headers-font-family: 'Pirata One';
  }